{% extends 'base.html' %}
{% block content %}

<canvas id="bgCanvas"></canvas>

<div class="glass-wrapper">

    <h1 class="welcome-text">WELCOME</h1>

    <form method="POST" class="glass-form">

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="error-msg">{{ msg }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <button type="submit">Login</button>
    </form>

    <p class="create-link">
        <a href="/register">Create Account</a>
    </p>

</div>

<script src="{{ url_for('static', filename='js/particles.js') }}"></script>

{% endblock %}