
{% extends 'base.html' %}
{% block content %}

<canvas id="bgCanvas"></canvas>

<div class="glass-wrapper">

    <h1 class="welcome-text">REGISTER</h1>

    <form method="POST" class="glass-form">

        <input type="text" name="username" placeholder="Username" required>

        <input type="password" name="password" placeholder = "Password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d_]{8,10}$"
        title="8-10 chars, uppercase, lowercase, number, '_' only"
        required>

        <div class="rules">
            8-10 characters<br>
            Uppercase, lowercase, number<br>
            Only "_" symbol allowed
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="error-msg">{{ msg }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <button type="submit">Register</button>

    </form>

    <p class="create-link">
        <a href="/login">Back to Login</a>
    </p>

</div>

<script src="{{ url_for('static', filename='js/particles.js') }}"></script>

{% endblock %}